{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}

<div class="AdminController-wrapper">
        <h1>Bienvenue sur le ALBUM BOARD</h1>
        <a href="{{ path('app_products_index') }}">Products</a>
        <div class="dashboard-links">
            
        </div>
{% endblock %}
