{% extends 'base.html.twig' %}

{% block title %}RI{% endblock %}

{% block body %}
    <h1>RI</h1>

    {{ include('sales/_form.html.twig') }}

    <a href="{{ path('app_sales_index') }}">back to list</a>
{% endblock %}
