{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
    {% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('styles/app.css') }}">
{% endblock %}
 <div class="dashboard-wrapper">
        <h1>Bienvenue sur le ALBUM BOARD</h1>
        <a href="{{ path('app_reviews_index') }}">Retour</a>
        <a href="{{ path('app_sales_index') }}">Telephone à vendre</a>
        <div class="dashboard-links">
            
        </div>
    </div>
{% endblock %}